<% include ./partials/navbar %>
<div class="container">
    <h1 class="mt-4 mb-4">About</h1>
  <div class="card card-body">
    <p>Bacon ipsum dolor amet ground round short ribs frankfurter venison rump sirloin salami t-bone drumstick, shankle beef ribs. Landjaeger ribeye turducken, short loin ground round andouille chuck sirloin venison burgdoggen shankle pastrami doner bresaola. Chuck shank spare ribs tenderloin salami doner tail turducken, rump meatloaf drumstick picanha ribeye. Ball tip landjaeger shank bacon andouille pork.</p>
  </div>
</div>
