<% include ./partials/navbar %>
<div class="container">
    <h1 class="mt-4 mb-4">About</h1>
  <div class="card card-body">
    <h2>Github Page</h2>
    <a href="https://github.com/Malcomian/whos-that-pokemon" class="btn btn-primary poke" target="_blank">Github Page</a>
  </div>
</div>
