<% include ./partials/navbar %>
<div class="container">
  <h1 class="mt-4 mb-4">Account</h1>
  <div class="card card-body">
    <h3>Name: <%= user.name %></h3>
    <p>Email: <%= user.email %></p>
  </div>
</div>