<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1>Who's That Pok&eacute;mon?</h1>
        <h1>
          <i class="mdi mdi-cards-club"></i>
          <i class="mdi mdi-cards-diamond red"></i>
          <i class="mdi mdi-cards-heart red"></i>
          <i class="mdi mdi-cards-spade"></i></h1>
        <p class="lead">Create an account or login</p>
        <p class="alert alert-danger">Note: Any account made on the site must use a unique (even fake) email address. There is no password recovery system! You've been warned!</p>
        <a href="/users/register" class="poke btn btn-primary btn-block mb-2">Register</a>
        <a href="/users/login" class="poke btn btn-primary btn-block">Login</a>
      </div>
    </div>
  </div>
</div>
