<div class="page container">
  <div class="mt-5 card card-body text-center">
    <h1>Who's That Pok&eacute;mon?</h1>
    <p class="lead">A Pok&eacute;mon-Themed Meme Generator</p>
    <a href="https://github.com/Malcomian/whos-that-pokemon" target="_blank" class="btn btn-primary poke mb-2">GitHub Page</a>
    <p class="lead">Create an account or login</p>
    <a href="/users/register" class="poke btn btn-primary btn-block mb-2">Register</a>
    <a href="/users/login" class="poke btn btn-primary btn-block">Login</a>
  </div>
</div>
