@import url("../fonts/stylesheet.css");
.container {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page {
  max-width: 800px;
}

body {
  min-width: 300px;
  background-color: #b51919;
}

.btn {
  border-top: 4px solid rgba(255, 255, 255, 0.2);
  border-left: 4px solid rgba(255, 255, 255, 0.2);
  border-right: 4px solid rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  /* border: 1px solid #1b316a; */
}

.btn:hover {
  border-top: 4px solid rgba(255, 255, 255, 0.5);
  border-left: 4px solid rgba(255, 255, 255, 0.5);
  border-right: 4px solid rgba(0, 0, 0, 0.5);
  border-bottom: 4px solid rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: 'pokemon_solidnormal';
  color: #fced1a;
  text-shadow: 1px 1px 0 #2f6eb5, 1px -1px 0 #2f6eb5, -1px 1px 0 #2f6eb5, -1px -1px 0 #2f6eb5,  2px 2px 0 #2f6eb5, 2px -2px 0 #2f6eb5, -2px 2px 0 #2f6eb5, -2px -2px 0 #2f6eb5,  1px 2px 0 #2f6eb5, 1px -2px 0 #2f6eb5, -1px 2px 0 #2f6eb5, -1px -2px 0 #2f6eb5,  2px 1px 0 #2f6eb5, 2px -1px 0 #2f6eb5, -2px 1px 0 #2f6eb5, -2px -1px 0 #2f6eb5,  3px 3px 0 #2f6eb5, 3px -3px 0 #2f6eb5, -3px 3px 0 #2f6eb5, -3px -3px 0 #2f6eb5,  2px 3px 0 #2f6eb5, 2px -3px 0 #2f6eb5, -2px 3px 0 #2f6eb5, -2px -3px 0 #2f6eb5,  3px 2px 0 #2f6eb5, 3px -2px 0 #2f6eb5, -3px 2px 0 #2f6eb5, -3px -2px 0 #2f6eb5,  1px 3px 0 #2f6eb5, 1px -3px 0 #2f6eb5, -1px 3px 0 #2f6eb5, -1px -3px 0 #2f6eb5,  3px 1px 0 #2f6eb5, 3px -1px 0 #2f6eb5, -3px 1px 0 #2f6eb5, -3px -1px 0 #2f6eb5,  -6px 6px 0 #1b316a;
  letter-spacing: 5px;
}

.poke {
  font-family: 'pokemon_solidnormal';
  color: #fced1a;
  text-shadow: 1px 1px 0 #2f6eb5, 1px -1px 0 #2f6eb5, -1px 1px 0 #2f6eb5, -1px -1px 0 #2f6eb5,  2px 2px 0 #2f6eb5, 2px -2px 0 #2f6eb5, -2px 2px 0 #2f6eb5, -2px -2px 0 #2f6eb5,  1px 2px 0 #2f6eb5, 1px -2px 0 #2f6eb5, -1px 2px 0 #2f6eb5, -1px -2px 0 #2f6eb5,  2px 1px 0 #2f6eb5, 2px -1px 0 #2f6eb5, -2px 1px 0 #2f6eb5, -2px -1px 0 #2f6eb5,  -4px 4px 0 #1b316a;
  letter-spacing: 2px;
}

#sortable th {
  cursor: pointer;
}

.nav-item {
  outline: none;
}

.silhouette {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.pixelated {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: optimizeSpeed;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
}

.wrapper {
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.overflow-hiddens {
  overflow: hidden;
}

#main {
  width: 480px;
  height: 270px;
  overflow: hidden;
}

@-webkit-keyframes spinIn {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes spinIn {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@-webkit-keyframes reveal {
  from {
    -webkit-filter: brightness(0);
            filter: brightness(0);
  }
  to {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@keyframes reveal {
  from {
    -webkit-filter: brightness(0);
            filter: brightness(0);
  }
  to {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
}

@-webkit-keyframes opacityIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.spin {
  -webkit-animation-name: spinIn;
          animation-name: spinIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.reveal {
  -webkit-animation-name: reveal;
          animation-name: reveal;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.opacityIn {
  -webkit-animation-name: opacityIn;
          animation-name: opacityIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
/*# sourceMappingURL=style.css.map */